{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">

<!DOCTYPE html>
<html lang="pl">
<head>
    <title>ChefBet</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="{% static 'main/scripts.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href=" {% static 'main/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom"><h5> Kategorie</h5></div>
        <div class="list-group" id="boczek" style="background-color: #ffff2e; padding: 20px;">
            {% for category in category_set %}

                <a class="list-group-item list-group-item-action bg-dark text-white"
                   href="{% url 'category' category.name %}">{{ category.name }}</a>
                <br>
            {% endfor %}
        </div>
        <div>
            <br>
            <img src="{% static "images/reklama.png" %}" alt="MiejscenaTWOJAreklame" width="240" height="700">
        </div>
    </div>

    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light border-bottom">
            <div class="container-fluid">
                <button class="btn-chefbet" id="sidebarToggle"><span class="navbar-toggler-icon"></span></button>
                <div class="navbar-header">
                    <h2> &nbsp; ChefBet &nbsp;</h2>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'main' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'my-coupons' %}">Moje kupony</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'top-up-wallet' %}">Doładuj konto</a></li>

                    </ul>
                    {% if user.is_authenticated %}
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><label for="wallet-content">Portfel:</label><input id="wallet-content"
                                                                                                    type="number"
                                                                                                    disabled
                                                                                                    style="width: 100px">
                            </li>
                            <li class="nav-item"><h2>Witaj <b><i>{{ user.username }}</i></b></h2></li>
                            <li class="nav-item"><a href="{% url 'logout' %}">
                                <button class="btn btn-secondary">Wyloguj</button>
                            </a></li>
                        </ul>
                        {{ user.id|json_script:"user_id" }}
                    {% else %}
                        <ul class="navbar-nav ml-auto">
                            <li>
                                <a href="{% url 'login' %}">
                                    <button class="btn btn-light">Zaloguj się</button>
                                </a>
                                <a href="{% url 'signup' %}">
                                    <button class="btn btn-dark">Zarejestruj</button>
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
            <br>
            <h2 class="mt-4">Chef Bet - obstawiasz jak SZEF, wygrywasz jak SZEF</h2>
            <br>
            <p>Bądź szefem! Aby wybrać konkretną kategorię naciśnij biały przycisk na górze ekranu. </p>
            {#            <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on#}
            {#                larger screens. When toggled using the button below, the menu will change.</p>#}
            {#            <p>#}
            {#                Make sure to keep all page content within the#}
            {#                <code>#page-content-wrapper</code>#}
            {#                . The top navbar is optional, and just for demonstration. Just create an element with the#}
            {#                <code>#sidebarToggle</code>#}
            {#                ID which will toggle the menu when clicked.#}
            {#            </p>#}
            <div class="row">
                <div class="col-lg-8" id="main-content-container">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-lg-4" id="coupon-container">
                    <div class="card bg-dark text-white mb-3">
                        <div class="card-header">
                            Stwórz kupon
                        </div>
                        <div class="card-body">
                            <div id="new-coupon-types">
                                <table id="coupon-events-table">
                                    <thead>
                                    <tr>
                                        <th>Spotkanie</th>
                                        <th>Typ</th>
                                        <th>Kurs</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div id="new-coupon-summary">
                                <table id="coupon-summary-table">
                                    <thead>
                                    <tr>
                                        <th>Kurs całkowity</th>
                                        <th>Stawka</th>
                                        <th>Wygrana</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td id="summary-odds">1</td>
                                        <td><label>
                                            <input id="summary-contribution" type="number" value="5"
                                                   style="width: 70px">
                                        </label></td>
                                        <td id="summary-prize"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <div id="new-coupon-buttons">
                                <table width="100%">
                                    <tbody>
                                    <tr>
                                        <td id="clear-coupon-btn" width="50%" class="td-center">
                                            <button class="btn btn-warning">Wyczyść</button>
                                        </td>
                                        <td id="submit-coupon-btn" width="50%" class="td-center">
                                            <button class="btn btn-warning">Postaw</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <br>
    <div class="footer-copyright text-center text-dark py-3" style="background-color: yellow;"><p>Mmmmmmm... st00pka</p>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>