{% extends 'main/base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style1.css' %}">

{% block content %}
    <div class="card bg-dark text-white mb-3">
        <div class="card-header bg-warning fg-dark">
            Zdarzenia
        </div>
        <div class="card-body">
            <table class="table events-table" style="width: 100%">
                <tbody class="table-striped">
                {% for event in event_set %}
                    <tr class="event-tr event-row">
                        <table style="width: 100%">
                            <td width="30%" class="">
                                <h5 class="text-warning">{{ event.host }}
                                    <br>vs<br>
                                    {{ event.guest }}</h5>
                            </td>
                            {% for possibility in event.types.0.possibilities %}
                                <td width="*">
                                    <table style="margin-left: auto; margin-right: auto">
                                        <tr>
                                            <td class="td-center">
                                                <button class="btn btn-outline-warning no-click">{{ possibility.type }}</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-center">
                                                <button class="{{ event.id }} {{ event.types.0.id }} {{ possibility.id }} btn btn-warning odds-btn">{{ possibility.odds }}</button>
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                            {% endfor %}
                            <td width="15%">
                                <table style="margin-left: auto; margin-right: auto">
                                    <tr>
                                        <td class="td-center text-warning">{{ event.start_datetime|date:"H:i" }}</td>
                                    </tr>
                                    <tr>
                                        <td class="td-center text-warning">{{ event.start_datetime|date:"d.m.y" }}</td>
                                    </tr>
                                </table>
                            </td>
                            <td width="1">
                                <a href="/more/{{ event.id }}">
                                    <button class="btn btn-warning">Więcej</button>
                                </a>
                            </td>
                        </table>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}