{% extends 'main/base.html' %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header" id="more-event-header">
            <h5 id="more-event-name">{{ event.host }} vs {{ event.guest }}</h5>
            <p id="more-event-datetime">{{ event.datetime|date:"H:i, d.m.Y" }}</p>
        </div>
        <div class="card-body">
            <table class="events-table" width="100%">
                <tbody>
                {% for bet in event.types %}
                    <tr>
                        <td width="35%"><p class="more-event-description">{{ bet.description }}</p></td>
                        {% for cell in bet.possibilities %}
                            {% for type, odds in cell.items %}
                                <td width="*">
                                    <table style="margin: auto">
                                        <tr>
                                            <td class="td-center">
                                                <button class="btn btn-light no-click">{{ type }}</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-center">
                                                <button class="{{ event.id }} {{ bet.id }} {{ type }} btn btn-primary odds-btn">{{ odds }}</button>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}