{% extends 'main/base.html' %}

{% block content %}
    <div class="card mb-3 bg-dark">
        <div class="card-header bg-warning" id="more-event-header">
            <h5 id="more-event-name">{{ event.host }} vs {{ event.guest }}</h5>
            <p id="more-event-datetime">{{ event.start_datetime|date:"H:i, d.m.Y" }}</p>
        </div>
        <div class="card-body">
            <table class="events-table" width="100%">
                <tbody>
                {% for bet in event.types %}
                    <tr>
                        <td width="35%"><p class="more-event-description text-warning">{{ bet.description }}</p></td>
                        {% for possibility in bet.possibilities %}
                            <td width="*">
                                <table style="margin: auto">
                                    <tr>
                                        <td class="td-center">
                                            <button class="btn btn-outline-warning no-click">{{ possibility.type }}</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-center">
                                            <button class="{{ event.id }} {{ bet.id }} {{ possibility.id }} btn btn-warning odds-btn">{{ possibility.odds }}</button>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}