{% extends 'main/base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style1.css' %}">

{% block content %}
    <div class="card bg-dark text-white mb-3">
        <div class="card-header bg-warning fg-dark">
            Moje kupony
        </div>
        <div class="card-body">
            <table class="table events-table" style="width: 100%; color: white">
            <thead>
            <tr class="text-warning">
                <td><b>Stawka</b></td>
                <td><b>Kurs</b></td>
                <td><b>Możliwa wygrana</b></td>
            </tr>
            </thead>
                <tbody class="table-striped">
                {% for coupon in my_coupons_set %}
                    <tr>
                    <td>{{ coupon.contribution }}</td>
                    <td>{{ coupon.odds }}</td>
                    <td>{{ coupon.prize }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}