.jumbotron {
    background-color: #414d55;
    color: aqua;
}
.navbar {
    background-color: aqua;
}
.td-center {
    text-align: center;
}
tr {
    border-bottom: 1px solid #ddd;
}
.event-tr {
    padding: 20px;
}
.btn-category {
    width: 100%;
    text-align: left;
    font-size: 18px;
}