/* main.html*/
.td-center {
    text-align: center;
}

tbody tr .event-row {
    background-color: black;
}

.event-tr {
    padding: 20px;
}

.card-body {
    color: white;
}

.td-center {
    color: white;
}

/* more.html*/
#more-event-header {
    width: 100%;
}

#more-event-name {
    display: inline-block;
}

#more-event-datetime {
    float: right;
}

.no-click {
    pointer-events: none;
}

/* base */
#navbar-header {
    margin-left: 15px;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0px;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -20rem;
    }
}

.bg-gray {
    background-color: #494949;
}

.fg-dark {
    color: black;
}
